body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto;
    background-color: #333;
    color: white;
}

nav{
    float: left;
    width: 99%;
    background-color: rgba(0, 0, 0, 70%);
    padding: 0.5%;
    position: fixed;
}

input[type="search"]{
    border-radius: 1rem;
    font-size: 16px;
    height: 2rem;
    padding: 0.3rem 0.5rem;
    margin-top: 1.2rem;
    margin-left: 10%;
    border: 0px solid #000;
    color: rgba(255, 255, 255, 80%);
    background-color: rgba(0, 0, 0, 70%);
}
input::placeholder{
    color: rgba(150, 150, 150, 70%);
}

#nav-right{
    margin-left: 1rem;
}

.nav-link-header{
    color: rgb(180, 0, 0);
    text-decoration: none;
    transition: 0.3s;
    font-size: 27px;
    margin-left: 0.8rem;
}

.nav-link-header:hover{
    color: rgb(240,0,0);
}

.nav-link-login{
    color: rgb(180, 0, 0);
    transition: 0.3s;
    text-decoration: none;
    font-size: 17px;
}
.nav-link-login:hover{
    color: rgb(240,0,0);
}

.nav-link-login-small{
    color: rgb(180,0,0);
    transition: 0.3s;
    text-decoration: none;
}

.nav-link-login-small:hover{
    color: rgb(240, 0, 0);
}

#nav-t-log{
    margin-top: 0.7rem;
}

.name-category{
    float: left;
    color: white;
    background-color: rgba(0, 0, 0, 30%);
    margin: 0.7rem;
    padding: 0.7rem;
    transition: 0.3s;
    border-radius: 2rem;
    font-size: 23px;
}

.name-category:hover{
    background-color: rgba(255, 255, 255, 90%);
    color: #333;
}

#main-category{
    padding: 6rem 1rem;
    border-bottom: 1px solid #111;
}

main{
    margin: 1rem auto;
    padding: 3%;
    font-size: 17px;
}

header{
    text-align: center;
}

h2{
    margin: 0 auto;
    font-size: 40px;
}